@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0; 
}

html, body {
    height: 100%; 
}

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100%; 
                     
}

header {
    min-height: 60px;
    background-color: #448a46;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 15px; 
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    flex-shrink: 0; 
}

header h1 {
    font-size: 1.6rem;

}

main {
    flex-grow: 1; 
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px 15px;
    width: 100%; 
}

footer{
    min-height: 60px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    text-align: center;
    padding: 15px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05); 
    flex-shrink: 0; 
    gap: 10px; 
}

.div-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.div-footer figure {
    margin: 5px 0;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px; 
    margin: 15px 0; 
    width: 90%;
    max-width: 350px; 
    min-height: 250px; 
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.box h1 {
    font-size: 1.6rem; 
    margin-bottom: 15px; 
}

#rosaDosVentos {
    width: 70%;
    max-width: 140px; 
    height: auto;
    transition: transform 0.5s ease-out;
}


#imagem-git, #header-gif {
    width: 35px; 
    height: 35px; 
}

#header-gif {
    margin-left: 10px;
}

/* Media Query para Tablets (orientação retrato e celulares maiores) */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }
    #imagem-git, #header-gif {
        width: 30px;
        height: 30px;
    }
}

/* Media Query para Celulares Menores */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.3rem;
    }
    #header-gif {
        display: none;
    }
    .box {
        padding: 15px;
        min-height: auto;
        width: 95%;
    }
    .box h1 {
        font-size: 1.2rem;
    }
    #rosaDosVentos {
        max-width: 100px;
    }

    footer {
        font-size: 0.85rem;
        padding: 10px;
        min-height: auto;
    }
    .div-footer figure figcaption {
        font-size: 0.75rem;
    }
    #imagem-git {
        width: 25px;
        height: 25px;
    }
}